{% extends "templates/base.twig" %}

{% block content %}
<header>
    <h3>Brand</h3>
    TODO: Make the header (navbar, brand's name, etc...)
</header>
<main class="ui main fluid container">
    {% block mainContent %}{% endblock %}
</main>
{% endblock %}