{% extends "templates/base.twig" %}

{% block content %}
<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Barre de naviguation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                
            </button>
            <a class="navbar-brand" href="http://arrowjs.io"><img src="/themes/minimum/images/logo.png" alt="logo"></a>
        </div>
    </div>
</header>
<main class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            <a class="item {{ (page == "acceuil") ? 'active' : '' }}" href="?acceuil"><i  class="home icon" ></i>Acceuil</a>
            <a class="item {{ (page == "utilisateur") ? 'active' : '' }}" href="?utilisateur"><i  class="user icon" ></i>Profil</a>
            <a class="item {{ (page == "galerie") ? 'active' : '' }}" href="?galerie"><i  class="images icon" ></i>Galerie</a>
        </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui segment">
            {% block mainContent %}{% endblock %}
            <a href="api/chatInterface.html" onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )">Open Chat</a>
        </div>
    </div>
</main>
{% endblock %}