{% extends "templates/base.twig" %}

{% block content %}
<div class="ui middle aligned center aligned grid" style="height: inherit;">
    <div class="column" style="max-width: 450px;">
        <h2><i class="sign-in icon"></i>Se Connecter</h2>
        {% if errMsg is not null %}
        <div class="ui error message left aligned container">
            <div class="header">
                Error!
            </div>
            <p>{{ errMsg }}</p>
        </div>
        {% elseif sessionMsg is not null %}
        <div class="ui success message left aligned container">
            <p>{{ sessionMsg }}</p>
        </div>
        {% endif %}
        <form action="index.php?login" method="post" class="ui large form" onsubmit="submitForm()">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="email" name="email" placeholder="Adresse E-mail">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="pwd" id="pwd" placeholder="Mot de passe">
                </div>
            </div>
            <button class="ui fluid large teal submit button" type="submit">Connection</button>
			<p style="display: flex; justify-content:space-between;">
                <a href="index.php?createUser">Créer un compte</a>
                <a href="index.php?askRecup">J'ai oublié mon mot de passe.</a>
            </p>
        </form>
        <script src="./dist/md5.js"></script>
        <script>
        function submitForm() {
            pwdInput = document.getElementById('pwd');
            pwdInput.value = calcMD5(pwdInput.value);
        }
        </script>
    </div>
</div>
{% endblock %}