{% extends "templates/base.twig" %}

{% block content %}
<form method="post" action="index.php?login" class="grid grid-cols-2">
    <label for="email">Addresse e-mail: </label>
    <input type="email" name="email" id="email">
    <label for="pwd">Mot de passe: </label>
    <input type="password" name="pwd" id="pwd">
    <button type="submit">Se Connecter</button>
</form>
{% endblock %}