{% extends "templates/base.twig" %}

{% block content %}
<div class="ui middle aligned center aligned grid" style="height: inherit;">
    <div class="column" style="max-width: 450px;">
        <h2>Changer mon mot de passe</h2>
        {% if errMsg is not null %}
        <div class="ui error message left aligned container">
            <div class="header">Erreur:</div>
            <p>{{ errMsg }}</p>
        </div>
        {% endif %}
        <div class="ui info message left aligned container">
            <div class="header">
                Aide à la création du mot de passe.
            </div>
            <p>
                Votre mot de passe doit contenir:
                <ul>
                    <li>Entre 8 et 15 caractères</li>
                    <li>Au moins une minuscule</li>
                    <li>Au moins une majuscule</li>
                    <li>Au moins un caractère spéciale</li>
                </ul>
            </p>
        </div>
        <form action="index.php?recupMdp={{token}}" method="post" class="ui large form" onsubmit="submitForm()">
            <div class="field">
                <label for="mdp">Nouveau mot de passe:</label>
                <input type="password" name="mdp" id="mdp"
                    pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,15})$"
                    placeholder="Adresse E-mail" required>
            </div>
            <div class="field">
                <label for="confirmMdp">Confirmer le mot de passe: </label>
                <input type="password" name="confirmMdp" id="confirmMdp"
                    pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,15})$"
                    placeholder="Adresse E-mail" required>
            </div>
            <button class="ui fluid large teal submit button" type="submit">Enregistrer</button>
        </form>
        <script src="./dist/md5.js"></script>
        <script>
            function submitForm() {
                let pwdIn = document.getElementById('mdp'),
                    cpwdIn = document.getElementById('confirmMdp');

                pwdIn.value = calcMD5(pwdIn.value);
                cpwdIn.value = calcMD5(cpwdIn.value);
            }
        </script>
    </div>
</div>
{% endblock %}